[2017-01-03 16:53] weotch opened #1 "L5.3 - Issue with edit view and images"
Going to an edit view on Bukwild Articles, getting this:

![](http://yo.bkwld.com/2t3X0M053w3f/Image%202017-01-02%20at%202.42.10%20PM.png)

[2017-01-03 16:53] weotch opened #2 "L5.3 - Test management of admins"
Make sure creation and management of admins still works.  I think these are more at risk that other things because of L5.3 changes to auth.

[2017-01-03 16:56] weotch opened #3 "L5.3 - Test reset password"
L5.3 broke the auth traits into a multiple ones and expects a seperate controller for resetting passwords.  I think this should be mimic-ed to fix this.

https://github.com/laravel/laravel/tree/master/app/Http/Controllers/Auth

[2017-01-03 16:56] weotch opened #4 "L5.3 - Fix login/logout"
Get logging in and out working

[2017-01-03 16:57] weotch commented on #4
Fixed in e9b22d4b171f81a0e089f143b38fb8aeb87a7a8e

[2017-01-03 16:57] #4 closed

[2017-02-09 19:36] weotch opened #5 "L5.4 - Wildcard event listeners"
Confirm that the wildcard event listeners in the ServiceProvider still work.

From upgrade guide:

[2017-02-09 19:48] weotch opened #6 "Add Laravel 5.4 support"
Trust to the `ConvertEmptyStringsToNull` middleware to converty empty string to null rather than that PHP Library method.

[2017-03-16 03:07] jonathan-bird commented on #6
+1 - when can we expect a 5.4 release?

[2017-03-16 15:59] weotch commented on #6
I hope to in the next couple of weeks.  Though I could see bumping it up if there is a lot of demand for it.

[2017-03-16 19:20] svenluijten opened #7 "Adopt PSR-1 & 2"
Hey! I was wondering if there is any interest in switching this codebase to adopt some de-factor PHP standards (mainly [PSR-2](http://www.php-fig.org/psr/psr-2/), thus including [PSR-1](http://www.php-fig.org/psr/psr-1/)).

I can work on porting the codebase over if you want, but I'd like your opinions on this before I get to work 🙂

[2017-03-16 20:17] weotch commented on #7
After some internal hemming and hawing, yeah, I'm open to it and I really appreciate the offer.  If you PR it, I'll merge it in.

I'm gonna close this as a result.

[2017-03-16 20:17] #7 closed

[2017-03-17 03:41] jonathan-bird commented on #6
It'd definitely be great, I want to use it on a project that's due in a couple weeks.

[2017-03-17 07:13] iquad opened #9 "L5.2 "A non well formed numeric value encountered.""
You may want to see : https://github.com/BKWLD/php-library/pull/12

[2017-03-17 17:20] weotch commented on #9
I tagged the fix as 4.0.1, a composer update `bkwld/library` should fix it.

[2017-03-17 17:20] #9 closed

[2017-03-19 13:54] symfonycoda commented on #6
This looks awesome. I'll give it a go when the 5.4 version is up. Unfortunately I don't have time to contribute with code, but i m happy to help with trying it out and giving feedback/finding errors if that helps?

[2017-03-20 12:12] lucafregoso opened #10 "How to collaborate?"
Are you using any TDD/BDD method? is there any dev branch?

[2017-03-20 15:57] weotch commented on #6
That would be great, thanks for the offer.  It's looking good for me to break ground on this feature this week.

Btw, my first step will be to add integration tests for the current version and then see what breaks when updating the Laravel version constaint.

[2017-03-20 17:13] weotch commented on #10
Thanks for your inquery.  Unfortunately, I didn't follow a test driven approach in developing Decoy. However, I'll be adding integration tests soon as part of adding support for L5.4 ( #6 ).  After that is finished, it should be easier to support collaboration.  I'll keep you posted.

[2017-03-21 09:57] minedun6 opened #11 "Possible support of another Theme ?"
Is there any way we can change the admin template, I'm working with metronic theme, as you know, it's a tricky theme that requires some work on it ?

[2017-03-21 11:16] minedun6 opened #12 "Funny Error when trying to access home page after login"
I'm getting this odd error for an unknown reason.

`fopen(C:\Users\AIO2\Sites\DecoySample\public\/img/temp/home-marquee.jpg): failed to open stream: No such file or directory (View: C:\Users\AIO2\Sites\DecoySample\vendor\bkwld\decoy\views\elements\index.haml)`

Maybe I'm missing something.

[2017-03-21 16:01] weotch commented on #11
Yeah, I tried to describe this in http://docs.decoy.bukwild.com/views under "Overriding a Decoy partial".  For instance, to change the main layout view, create a view file at `app/views/layouts/default.php`.  Thus, if you needed to TOTALLY overhaul the theme, you would be overriding all the view files.  Furthermore, if you didn't want form elements to be written using Bootstrap-friendly markup, yo

[2017-03-21 16:01] #11 closed

[2017-03-21 16:11] weotch commented on #12
I tagged a fix for this as 5.2.2, you'll have to delete your `config/decoy/elememts.yaml` file and republish it ( `php artisan vendor:publish --provider="Bkwld\Decoy\ServiceProvider"`).

The issue was that yaml file contains examples of all of the Elements options, but some of them don't work out of the box (they reference example paths to images that don't actually exist).  Now that yaml has thos

[2017-03-21 16:11] #12 closed

[2017-03-21 17:19] od3n opened #13 "L5.2.45 Errors when login to admin for first time"
1. Error on `/admin/articles`

[code]

2. Error on `/admin/elements`

[code]

[2017-03-21 17:47] derekbliss opened #14 "Add Laravel 5.3 support"
First time on login.

"php": ">=5.6.4",
        "laravel/framework": "5.3.*",
        "bkwld/decoy": "^5.2"

`FatalErrorException in Login.php line 17:
Trait method hasTooManyLoginAttempts has not been applied, because there are collisions with other trait methods on Bkwld\Decoy\Controllers\Login`

[2017-03-21 22:45] seanthepottingshed commented on #13
@od3n Exact same issue in all my admin pages, looks like the server path is incorrect

[2017-03-21 23:30] weotch commented on #13
Thanks for the bug reports!

1. Still looking into this one.
2. The elements issue should be fixed now in 5.2.2. Try a composer update.

[2017-03-22 00:04] weotch commented on #14
Decoy doesn't currently work with Laravel 5.3 but we're currently working on implementing that support.  It should be ready in a week or two.  I'll post back here at that point.  Thanks!

[2017-03-22 00:10] weotch commented on #13
@od3n Do you have php's [short_open_tags](http://php.net/manual/en/ini.core.php#ini.short-open-tag) off?

[2017-03-22 00:19] derekbliss commented on #14
Awesome thank you!

On March 21, 2017 8:05:00 PM Robert Reinhard <notifications@github.com> wrote:

[2017-03-22 00:39] jonathan-bird commented on #6
Very excited!

[2017-03-22 02:43] od3n commented on #13
@weotch yes it's off

[2017-03-22 08:53] seanthepottingshed commented on #13
@weotch

Does this imply that the CMS doesn't work with 5.2.3?

[2017-03-22 13:03] jonathan-bird opened #15 "Any way to change the base url?"
What's the best way to change the base url from /admin/* to say /cms/* ?

I already have an admin panel and not sure how deep the code goes that has hard-coded values etc.

[2017-03-22 13:30] seanthepottingshed commented on #15
@jonathan-bird

I would assume here:

https://github.com/BKWLD/decoy/blob/master/config/core.php

I can't get it to work due to this issue:

https://github.com/BKWLD/decoy/issues/13

[2017-03-22 15:23] weotch commented on #13
@od3n I'll remove the dependency on `short_open_tags` this morning

@seanthepottingshed No, sorry, I meant [Decoy 5.2.2](https://github.com/BKWLD/decoy/releases/tag/5.2.2) fixes that issue.  And, yes, it works with PHP 7.

[2017-03-22 15:37] seanthepottingshed commented on #13
@weotch Excellont!

I will give it another crack later on this evening ( GMT ) Looks like a cracking little CMS.

[2017-03-22 15:42] #13 closed

[2017-03-22 15:43] weotch commented on #13
@od3n Can you switch your Decoy constraint to `dev-master` and `composer update`?  I pushed up a commit that removes all the short open tags that were being used in a number of views.

[2017-03-22 16:46] brokenhd commented on #15
@seanthepottingshed That is the intended way to change it, but we did some testing and it isn't working properly.

[2017-03-22 16:48] seanthepottingshed commented on #15
@brokenhd No worries

[2017-03-22 20:30] od3n commented on #13
@weotch it's working fine now, thanks

[2017-03-22 21:13] seanthepottingshed commented on #13
@weotch Likewise, all working for me, appreciated.

[2017-03-22 22:21] weotch commented on #13
Tagged now as 5.2.3

[2017-03-23 11:28] weeq opened #17 "5.2 Illuminate\View\View::__toString()"
[![](http://i.imgur.com/nq6CeSr.png)](http://i.imgur.com/nq6CeSr.png).
Where am I doing wrong?  I made the set up according to the documentation.
Laravel v5.2

[2017-03-23 11:33] #17 closed

[2017-03-24 09:26] SomosAMambo opened #18 "Localize Admin Strings"
It would be great if all strings hardcoded into admin may be translated via lang* files.
Some of the strings are hardcoded in the index.js file (filters in listings, datepicker, etc).
I'm willing to pull my Brazilian Portuguese pack.

[2017-03-24 13:37] SomosAMambo opened #19 "Localize array flip error and title() in models"
The method localizableLocales() of Localize class is generating an error because Laravels query method "lists" returns a collection, not an array.

`Classes\Input\Localize.php, ln 93`

Suggested code:
[code]
Also, all translatable models should have a title() method?
In `_localize.haml, ln 21` it expects that the model have it:
[code]
And in `views\shared\form\display\_locale.php, ln 22`:
[code]
S

[2017-03-24 16:12] weotch commented on #18
What do you mean by `lan` files?  I'm not familiar with that term.

[2017-03-24 17:52] weotch commented on #19
@brokenhd Lets add some tests related to localization features.  What @SomosAMambo has discovered (thank you @SomosAMambo ) is some issues related to changes between Laravel 4 and 5 that aren't being caught in the current tests.

[2017-03-24 18:33] SomosAMambo commented on #18
Sorry. Typo for "lang". Localization files natively supported by Laravel. `resources\lang`

[2017-03-24 20:49] SomosAMambo opened #20 "Every "save" in model generates a change log for date fields, even when there is no changes in value."
Suggestion:

Create a setter mutator for every `protected $dates` in `Base` that checks for changes before committing the model.

E.g.:
[code]

[2017-03-24 21:16] weotch commented on #20
👍  sounds good to me!

We'll start looking to introduce features like this after we finish adding L5.4 support.

[2017-03-24 21:18] SomosAMambo opened #21 "locale_group not setting on model creation"
Sorry guys. We've became great fans of Decoy, and we are heavy using it. So we are bumping into some issues that you may not have noticed. Especially localization related issues.

[2017-03-24 23:31] weotch opened #22 "Add test that files get deleted"
I think these could be in their own test for file handling.  Maybe the image stuff from CrudTest could be moved into this test too.

- [x] Test that normal files get deleted as part of model being deleted
- [x] Test that normal files get deleted as part of explicit choice in UI to delete them
- [x] Test both with images
- [x] Test with Element images

[2017-03-25 00:20] #21 closed

[2017-03-26 16:59] SomosAMambo opened #23 "Localization"
**Image related issues:**

1. On duplicating for another locale, images relationships are not duplicated. The checkbox `Include images and files` is checked.
2. On hovering a image field with a `Compare` locale radio checked, the tooltip image is broken.

[2017-03-27 18:04] #19 closed

[2017-03-27 18:04] weotch commented on #19
Thanks again, your diagnosis was spot on

[2017-03-27 18:05] weotch commented on #19
These (and are other issues) are legacies of us not doing a localized project since we released 5.0 (and supported Laravel 5).  The tests we're adding now will prevent future breaks.

[2017-03-27 20:47] SomosAMambo opened #24 "Elements migration doesn't create locale_group column."
Hi Guys, I know it's just create a migration to solve it. But it's the expected default behavior.

Anyways, here is the migration to update the table `2017_03_27_174854_add_locale_group_to_elements.php`:
[code]

[2017-03-27 21:00] SomosAMambo commented on #24
By the way... the team is in love with decoy. So simple and elegant. Non destructive. We hope we can contribute anyway we can to make this the number 1 Laravel CMS.

[2017-03-27 21:00] weotch commented on #23
As part of fixing this, I'm planning to remove those checkboxes ... The "create" button will always duplicate all copy and assets.  Part of my reasoning for this is because it's simpler and part of it is so that errors don't get thrown if a column that is required gets `NULL`ed out.

@SomosAMambo do you see any issue with removing them?  Like in your use case, do you have a reason that you would w

[2017-03-27 21:06] SomosAMambo commented on #19
Ok! Let us help!

[2017-03-27 21:40] SomosAMambo opened #25 "Image focal point lost with crop"
Hi again.

Case we set a focal point in an image and call it using `crop`, the image is cropped to center, losing the focal point referencial.

2 suggestions:
1. Alter crop logic to take in consideration the focal point.
2. (not an alternative to previous suggestion, more like an addition) add methods like `resizeByWidth(<width>)` and `resizeByHeight(<height>)` so we could keep the original aspect

[2017-03-27 23:28] SomosAMambo commented on #23
Nope. Do it.

I've noticed another issue when duplicating a model to a new locale. If there is a upload field, the string in that field is duplicated, but the file don't. The problem is, when replacing the duplicated model upload field, the original file is deleted. So, the original model loses it's uploaded files.

[2017-03-27 23:41] weotch commented on #19
I think the best way you can help, besides filling the issues you have been, is if you discover anything not documented or you can think better ways to explain how to use Decoy, submit PRs to the docs: https://github.com/BKWLD/decoy/tree/master/docs.  Thanks for offering!

[2017-03-27 23:46] weotch commented on #23
Re:

Check out this addition to the docs: https://github.com/BKWLD/decoy/commit/5b3bfd7655ca292e0eaae5b93c9e256e76ae62df.  I think the problem is that your file field wasn't mentioned in that `upload_attributes` array.

[2017-03-28 00:20] weotch commented on #25
I like this idea, it would require an addtion to [Croppa](https://github.com/BKWLD/croppa) which generates those crops.  Croppa use PHPThumb for the actual resizing ... it has a [adaptiveResizePercent](https://github.com/masterexploder/PHPThumb/blob/master/src/PHPThumb/GD.php#L340-L370) function which could be used to do this.  The steps would be:

1. Add a new option to Croppa allowing the focal

[2017-03-28 00:26] weotch commented on #25
Can you send a video of what you're experiencing?

Btw, the spirit of the focal point feature was to pass the selection through to CSS for use with `background-size: cover`.  So it's kinda independent from your crop selection, which should output an image URL for a crop that has the same bounds as your choice in Decoy.

[2017-03-28 17:20] weotch commented on #23
(2) Should be fixed now, seeing this when using the /example app:

![](http://yo.bkwld.com/3I2p152E0t1e/Image%202017-03-28%20at%2010.20.02%20AM.png)

[2017-03-28 17:21] weotch opened #26 "Add tests for reset password flow"
I expect this to break ( see #3 ) when adding L5.3 and L5.4 support, so we'll want these to help catch those errors.

[2017-03-28 17:25] weotch commented on #24
Elements actually shouldn't need that column because there is no need to keep track of the different localized versions of a record.  Elements are essentially key-value pairs and so the key and the locale column are sufficient.

Do you encounter any issue with Elements and localization?

I'm gonna add some tests right now specifically for Elements in the context of localization.

[2017-03-28 18:55] SomosAMambo commented on #25
Clients could be creatures reigned by whatsoever logic, so, picture the following use case:

A client uploads a image for a marquee which has a 16/9 ratio and 1600x900 pixels on desktop. But the uploaded image has 3800x4200px. The client sets the focal point. In the template we have a `->crop(1600x900)->bkgd`. The returned image is cropped to the center of the original, losing the focal point refe

[2017-03-28 19:03] SomosAMambo commented on #24
Yeap... Laravel gets a fatal error when saving elements with locales.

[2017-03-28 19:14] weotch commented on #24
Can you post your elements yaml files?  And what the error is?  Thanks!

[2017-03-28 19:22] weotch commented on #25
Yeahhhhh, I see what you mean.

It's almost like two different types of coordinates:

1. An x,y to center the crop around when cropped to an aspect ratio that is different than the source aspect ratio
2. An x,y to passthrough to CSS to inform the `background-position` when using `cover` (which is the current implementation).

You are right that the forcing the aspect ratio kinda solves this, howev

[2017-03-28 19:35] SomosAMambo commented on #25
Totally.

I was experimenting with this idea. The only problem I've found is that when resizing/moving the crop boundaries, the focal point could be left outside of it.

[2017-03-28 19:44] SomosAMambo commented on #19
There are some undocumented features I would like to help, but I'm digesting all the code first. E.g. The wysiwyg field; apparently there is a way to upload images directly from it, but I was not able to find the documentation for it.

[2017-03-28 19:55] weotch commented on #24
Sweet, lemme know if it crops up again.

[2017-03-28 19:55] #24 closed

[2017-03-28 19:59] weotch commented on #19
Yeah, that could use a better implementation.  Before we open sourced the repo, our projects would build the assets (js/css) with the project's webpack/grunt.  So, the way this is done is a legacy of that and is awkward as a result.

See http://docs.decoy.bukwild.com/customize.  You'll need to build your own JS file that consumes Decoy's JS and then call `wysiwyg.config.allowUploads()` on it.  You

[2017-03-28 20:00] weotch opened #27 "Expose decoy module to window to make configuration easier"
So you could do `window.decoy.config.allowUploads()`.

See #19 for some history

[2017-03-28 20:36] SomosAMambo commented on #19
I'll give it a try! Thanks!

[2017-03-29 20:50] SomosAMambo commented on #23
@weotch Robert,

My model has it:
[code]
See my screencap: https://www.dropbox.com/s/u2lue13vski1jqm/screencapdecoy.mov?dl=0

[2017-03-30 16:13] weotch commented on #23
Your `imagem` field is a `Former::upload()` type of field, right?

Did you customize anything about how files get stored or is it just the default (storing in `public/uploads/`)?

---

I just tested and I can't reproduce locally ... note, you'll need to `composer update bkwld/cloner` and republish the assets directory (`php artisan vendor:publish --provider="Bkwld\Decoy\ServiceProvider" --tag=asse

[2017-03-30 19:20] SomosAMambo commented on #23
Yup.

Nope.

Updating cloner...
Publishing assets...
Testing...
Same result. I'll let cloner explicit in my composer with dev-master branch.
[code]
Which Decoy tag should we use? Sorry... no time to figure it out...

[2017-03-30 19:55] weotch commented on #23
I'm referring to `dev-master`.  Try a general `composer upgrade` with that version constraint.

[2017-03-31 17:36] SomosAMambo commented on #23
We are running `dev-master 8fb5d65`. For us the behavior is the same as in the screencap. :(
Maybe we are scr*wing something up...

[2017-03-31 19:31] brokenhd commented on #23
I just tested this locally using `dev-master` and our example app and could not reproduce the issue: http://yo.bkwld.com/281F1L1r160k

[2017-03-31 19:31] #23 closed

[2017-03-31 19:33] #22 closed

[2017-03-31 19:34] #26 closed

[2017-03-31 20:57] weotch commented on #23
We just released [5.3.0](https://github.com/BKWLD/decoy/releases/tag/5.3.0), maybe upgrading to this tagged release will fix it?  Like in case there is still some composer related issue?  Remember to re-publish the assets.

[2017-03-31 21:22] SomosAMambo commented on #23
Sorry guys...

When I upgraded to the `dev-master 8fb5d65`, I forgot to republish the assets... Just did and retested... it's working like a charm. Thank you! You are great!

![Shame!](https://media.giphy.com/media/gyYJYyCPezUWI/giphy.gif)

[2017-03-31 21:23] weotch commented on #23
Hahaha, all good.  Glad it works!

[2017-03-31 21:26] SomosAMambo commented on #27
Can we have a localization config for date fields too?

[2017-04-02 12:01] Solinx opened #28 "Example project and docs in separate repo"
Thanks for sharing this package! I've been looking forward to playing around with it these last few days. Unfortunately I've stumbled across some quirks before completing the quick start steps.

Firstly, could you please separate the example project and the documentation into their own repository? Both the example and the documentation are greatly appreciated, but their inclusion in the Decoy pack

[2017-04-02 12:59] Solinx commented on #6
+1

[2017-04-02 13:14] Solinx opened #29 "Media library?"
My first impression of the CMS is that's absolutely great. Unfortunately I expect soms resistance during the adoption process in our organisation due to the lack of a media library. Are there any plans for a media/image library? Or would it be easy to create one myself? Thanks!

[2017-04-03 09:50] eminos commented on #6
+1

[2017-04-03 17:09] brokenhd commented on #28
@Solinx We don't want to remove the example app because its used in the integration tests, but we're thinking of doing this:

http://stackoverflow.com/questions/17049313/how-to-ignore-directories-with-composer

which should solve your issue if you install with `--prefer-dist`. Do you see any issues with that in your use case?

[2017-04-03 17:40] weotch commented on #6
To update this thread, we've finished the integration test phase, next step will be adding 5.3 support and then immediately on to 5.4.

[2017-04-03 18:23] eminos commented on #6
@weotch I hate asking, but do you have an idea of when 5.4 compatibility might be ready? Days, weeks months? I'm starting a new website project this week and would love to try using Decoy for it, but using the old L5.2 for it just to be able to use Decoy feels a bit backwards :)

[2017-04-03 18:24] weotch commented on #6
I would say within 2 weeks from now, ideally this week.

[2017-04-03 21:08] Solinx commented on #28
@brokenhd Thanks! That looks like it will work just fine. Could you do the same for the documentation?

[2017-04-03 23:42] #28 closed

[2017-04-03 23:55] brokenhd commented on #29
It wouldn't be too difficult to implement something like this. The way we are storing images is very friendly to that sort of thing for making an image library. It isn't on our roadmap for now but definitely something we would take a pull request for if you are looking into it!

Here is the one from redactor if you want to take a look: https://imperavi.com/redactor/plugins/imagemanager/

[2017-04-03 23:55] #29 closed

[2017-04-04 13:04] Solinx commented on #28
Thanks!

[2017-04-04 13:59] Solinx commented on #29
Thanks! Good to know 👍
Right now we do not have the resources to work on this, but I'm adding it to the backlog.

[2017-04-06 21:54] brokenhd opened #31 "Refactor admin emails to use Laravel 5.3+ notifications"
Mostly so the look of the email is consistent and those look nice.

[2017-04-06 22:57] #1 closed

[2017-04-06 22:57] #2 closed

[2017-04-06 22:57] #3 closed

[2017-04-06 22:58] weotch commented on #14
We just added Laravel 5.3 support!

https://github.com/BKWLD/decoy/releases/tag/5.4.0

[2017-04-06 22:58] #14 closed

[2017-04-07 20:23] #5 closed

[2017-04-10 19:35] weotch commented on #6
It's out! https://github.com/BKWLD/decoy/releases/tag/5.5.0

[2017-04-10 19:35] #6 closed

[2017-04-10 22:03] jonathan-bird commented on #6
Awesome, cheers!

On Tue, Apr 11, 2017 at 5:35 AM, Robert Reinhard <notifications@github.com>
wrote:

[2017-04-12 12:03] SomosAMambo commented on #18
Hello guys! This is very important for wider adoption. Our clients loved the CMS, but their teams can't read english.
There's also javascript strings, date fields, ...

I think this is too core related for a PR. But... we are committed to pull ours translations.

Is there plans to release this soon?

[2017-04-12 14:11] eminos opened #33 "ErrorException: scandir(C:\Users\emin\Dev\opio\app\Console/Commands,C:\Users\emin\Dev\opio\app\Console/Commands)"
I've just installer Decoy on Laravel 5.4. (I'm really excited about Decoy!!)

I'm getting this error when logging in to the admin:

`Method Illuminate\View\View::__toString() must not throw an exception, caught ErrorException: scandir(C:\Users\emin\Dev\opio\app\Console/Commands,C:\Users\emin\Dev\opio\app\Console/Commands): The system cannot find the file specified. (code: 2) (View: C:\Users\emin\D

[2017-04-12 14:21] eminos commented on #33
Actually. I'm missing the Commands folder in /app/Console.
If I create the Commands folder admin seems to work.

[2017-04-12 14:25] eminos opened #34 "/admin/changes: ErrorException: SQLSTATE[42000]: Syntax error or access violation: 1055"
Page **/admin/changes** gives this error:

Laravel 5.4

[2017-04-12 16:17] weotch commented on #34
What database and version are you using?

[2017-04-12 16:17] weotch commented on #33
👍

[2017-04-12 16:17] #33 closed

[2017-04-12 16:20] eminos commented on #34
mysql 5.7

[2017-04-12 16:41] weotch commented on #34
From https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html

We're running 5.6 here, which is why we haven't encountered this.

---

I added a commit to master, can you see if `dev-master` fixes it for you?

[2017-04-12 16:46] weotch commented on #18
Next week I think we could tackle the changes that need making in the core.  Specifically:

- Use lang files for strings rendered in PHP
- Passthrough lang configs to JS for use in strings rendered by JS

We'll implement the more obvious cases that pop up using these new systems and then you can PR any additional cases you find with your Portuguese pack, cool?

[2017-04-12 16:48] eminos commented on #34
Yea, that solved it. Thanks :)

[2017-04-13 14:41] SomosAMambo commented on #18
Damn yeah!

[2017-04-16 10:02] symfonycoda opened #35 "FatalErrorException on first login"
Hi

I have followed your quick-start instructions (http://docs.decoy.bukwild.com/quick-start), and everything seems to work until I go to /admin in the browser. The error comes up as follows:

Symfony\Component\Debug\Exception\FatalErrorException in d6b3bed5a9cf6ab689b4081dcf6401412aed3c3f.php line 0:
Method Illuminate\View\View::__toString() must not throw an exception, caught ErrorException: sca

[2017-04-16 10:20] eminos commented on #35
Duplicate of #33 . Just create the **Commands** directory.
But this should really be fixed in Decoy imo...

[2017-04-16 10:26] symfonycoda commented on #35
Many thanks. yes that works.

...if not fixed, then at least added to the documentation?

[2017-04-17 16:12] weotch commented on #35
@brokenhd can you add Commands to the tests and then fix this fatal error so we're not expecting that directory to exist?

On a test of running a command, let's test the laravel cache:clear one.

[2017-04-18 12:30] SomosAMambo opened #36 "After upgrading to L5.4 and Decoy dev/master image fields are not working"
Guys, we are actively searching for the problem since yesterday morning and found nothing so far... so we decided to open an issue. Is it an issue? We are still looking into it.

[2017-04-18 14:09] weotch commented on #36
Can you provide more detail on what "not working" means?  Thanks!

[2017-04-18 15:00] SomosAMambo commented on #36
Sorry for this. When saving a model from a form with an image field, the validation triggers with the following message (from a dump and die):
[code]

[2017-04-21 17:28] brokenhd commented on #18
@SomosAMambo on `dev-master` we started localization for Portuguese (note that I used google translate so it's probably not 100% accurate). Also stubbed out the javascript string localization as well. Take a look at how we approached it and you can PR the rest.

[2017-04-21 17:46] eminos opened #37 "Former::checkbox('category'), Array to string conversion error"
I'm trying to figure out Former::checkbox, following the guide here: http://docs.decoy.bukwild.com/views

This is my view code:
`!= Former::checkbox('category')->checkboxes(Bkwld\Library\Laravel\Former::checkboxArray('category', App\Project::$categories))->push(false)`

The edit page is displayed correctly with the 4 checkboxes from the static array on the App\Project model, but when I try to save

[2017-04-21 19:42] SomosAMambo commented on #18
Fantastic @brokenhd! Testing already. First thing I've noticed is that you did  a great job translating to Brazilian Portuguese (aside from minor details) but the ISO language code for our language is pt-BR (Laravel treats it as pt_BR), "pt" is used for portuguese from Portugal. I'll tackle into the code now and PR.

You guys are great! Thank you!

[2017-04-21 19:46] SomosAMambo commented on #18
Maybe... what do you guys think about publishing the localization files to `resources\lang` dir?

[2017-04-21 20:36] #35 closed

[2017-04-21 22:13] weotch commented on #36
Also related: f7aab6365c0514d212b0c2bf1326486ed3ac04be, b5c26c006e83859bde84aff675d098419062c5d0

@SomosAMambo Can you see if that fixes it?

[2017-04-21 22:13] #36 closed

[2017-04-22 09:00] SomosAMambo commented on #36
Everything is good! Thanks!!!

[2017-04-24 18:26] noxify commented on #34
The same problem occurs with postgres (9.6.10) :)

[2017-04-24 18:27] weotch commented on #34
@noxify Did the master branch fix?  We're gonna tag a new release soon

[2017-04-24 18:30] noxify commented on #34
@weotch i used the "composer require ..." from the docs - I will change it and test it again.

Thanks for the hint :)

[2017-04-24 19:01] noxify commented on #34
@weotch - tested it with postgres and mysql5.6, but with both databases I got the following error:

[code]

* OSX
* MAMP with PHP7.1
* mysql 5.6
* postgres 9.6.10

composer.json:
[code]

[2017-04-24 19:04] noxify opened #39 "Unable to update an admin - image can't be set"
Hi,

with a fresh laravel project i see always the following error message even when iI try to update my own admin user (e.g. change firstname from "A" to "B")

[code]

It seems that there is something wrong in the validation :)

* OSX with MAMP (PHP7.1 and mysql5.6 (but same with pgsql)
* Laravel 5.4.19
* Decoy dev-master

[2017-04-24 19:27] noxify commented on #34
I changed the `getAdmins()` method to the following:

[code]

and everything works fine :)

If i'm not wrong, the `getAdmins()` will be used to show the values for the search dropdown.
Does it not make sense to show all admins without the limitation?

[2017-04-24 19:37] noxify opened #40 "Disable "Add new change""
Hi,

when filtering the existing changes with something like this:
![bildschirmfoto 2017-04-24 um 21 34 55](https://cloud.githubusercontent.com/assets/521777/25355131/e354899c-2935-11e7-9a2b-0e45ff032b63.png)

I can click on the "New" button... this produces the following:

[code]

I think, to add a change manually makes no sense.

Maybe there is already something like this to disable a "Add new"

[2017-04-25 02:35] weotch opened #41 "Recompile JS"
For #38

[2017-04-25 02:35] weotch commented on #40
Agreed, thanks for the report.

[2017-04-25 15:04] #41 closed

[2017-04-25 15:33] weotch opened #42 "Pagination broken in 5.3+"
Getting:

Laravel removed the concept of presetner classes in 5.3

[2017-04-25 20:26] #42 closed

[2017-04-25 20:33] SomosAMambo opened #43 "New Redirect Rule view shows localization UI in sidebar"
In the New Redirect Rule form, the sidebar shows the localization UI.
I couldn't find what is making this behavior to happen.

[2017-04-25 20:44] #40 closed

[2017-04-25 20:47] #43 closed

[2017-04-25 20:57] weotch commented on #34
@noxify Yeah, works for me, thanks for looking into it.

The issue is that only postgres doesn't use `CONCAT`

[2017-04-25 21:04] #34 closed

[2017-04-25 21:35] noxify commented on #39
I'm not sure if it's just a "user handling" or if there is something wrong while highlighting the fields...

Anyway... i have added the debugbar and modified the `ModelValidator`

[code]

After adding a valid image i assumed that it should be possible to save the record.
But it seems that the image isn't uploaded.

[2017-04-26 00:17] #39 closed

[2017-04-26 00:18] weotch opened #44 "Allow localization files to be publishable to resources\lang"
See #18

[2017-04-26 00:18] #18 closed

[2017-04-26 21:02] SomosAMambo opened #45 "Elements + Image Fields"
Guys, I've set up an image type field in my `config\decoy\elements.yaml` file:

[code]

On the first save, the image was **moved** to `public\uploads\emelents`. Then... when the page refreshs, the file goes missing. Reload again, these 2 errors:

and

I tried to find the issue myself, no success there. I think it's something in the `getReplacementImage()` at `Elements.php, ln 238`. It tests if the

[2017-04-26 23:42] weotch commented on #37
- [ ] Add checklist to docs
- [ ] Look into single checkbox issue from this ticket

[2017-04-27 03:02] #37 closed

[2017-04-27 03:04] weotch commented on #37
I created a `Former::checklist` custom field to make it easier to deal with checkbox lists and updated the docs with it: http://docs.decoy.bukwild.com/custom-fields.  I expect to release a tag with this later tonight.

The missing bit, previously, was this:

---

Note, the checklist field will POST an array to the server.  You can convert this to a string for storing in the database by [casting](h

[2017-04-27 03:30] weotch commented on #45
I found and fixed an issue with Element default images when using the longhand syntax you're using there (like instead of `ogimage,image: /img/og_logo.png`.  However, what I experienced manfiested differently than what you reported:

pathinfo() expects parameter 1 to be string, array given (View: /Users/reinhard/Work/Open Source/decoy/views/elements/index.haml)

I can no longer reproduce any error

[2017-04-27 03:41] #44 closed

[2017-04-27 03:44] weotch commented on #20
@SomosAMambo I can't reproduce this.  If you still can, can you post your edit view?

[2017-04-27 03:44] #20 closed

[2017-04-27 14:14] SomosAMambo commented on #45
[screencap.mov.zip](https://github.com/BKWLD/decoy/files/961827/screencap.mov.zip)

...Still the same. When I left the value empty, there is no error.

[2017-04-27 15:01] mindmergedesign opened #46 "Get error on articles listing"
After following the Quick Start tutorial to create a News Articles Listing, I get the following error when trying to see the list of articles:

[code]

[2017-04-27 18:18] noxify commented on #46
Hi,

i have tested it with a fresh instance (laravel 5.4.20 + decoy 5.6.0) and everything works as excepted.

Only in the `routes/web.php` I had to add `use App\Article;` to remove a similiar problem (now it's just a missing view, which is ok for me)...

But in the backend/admin panel, i got no errors like this.

[2017-04-27 19:09] noxify opened #47 "[Question] Alternative Authentication possible?"
Hi,

i would ask, if it's possible to use an alternative authentication package?

Is it "just" changing the guard and the policy class in the config or do i have do change something else?

Thanks!

[2017-04-27 19:30] mindmergedesign commented on #46
I deleted the Model and Controller, then I created them again and it worked. I am not really sure what was different.

[2017-04-27 19:30] #46 closed

[2017-04-28 10:27] noxify opened #49 "How to configure the WYSIWYG Editor"
Hi,

is it possible to change the default button configuration from the wysiwyg editor?

I found the default configuration in:
https://github.com/BKWLD/decoy/blob/master/assets/js/wysiwyg/redactor.js#L20

But I didn't found a way to change the buttons.

In the [Custom Fields Documenation](http://docs.decoy.bukwild.com/custom-fields) there is a reference to http://docs.decoy.bukwild.com/wysiwyg but

[2017-04-28 15:12] lucafregoso commented on #10
Hi @weotch , any news about that?

[2017-04-28 16:24] noxify commented on #49
my bad... http://docs.decoy.bukwild.com/customize

[2017-04-28 17:06] noxify commented on #49
I'm not sure what's the problem is, but i have no clue how to extend it.
I copied the code from the docs into the "app.js" (just for testing) but the result after running the webpack script was nothing.

I think it's just a user handling, but maybe you can explain it with one or two sentences :)

[2017-04-28 19:14] mindmergedesign opened #50 "Support for multiple images"
Is there a way to add multiple images to an image field? If not, what it would be the best way to accomplish this?

[2017-04-28 19:28] noxify commented on #50
I think it's currently not implemented.

But i think we can implement a new custom field..
For example: http://www.dropzonejs.com/bootstrap.html

With this, we can (if i'm not wrong) use the existing upload functionality.

[2017-04-28 20:30] mindmergedesign commented on #50
Thanks for the info. I'll give it a try.

[2017-04-28 20:46] noxify commented on #50
But i think it's easier to use the dropzonejs sources and create a new custom field instead of using the referenced laravel package.

Maybe a alternative to the dropzonejs is:

https://sroze.github.io/backbone-upload-manager/

or maybe one of them: https://colorlib.com/wp/jquery-file-upload-scripts/

[2017-04-28 21:24] SomosAMambo opened #52 "Date field on list filters"
When cycling through filters in search, if you change from a date field to a new field of any type, the date field isn’t removed from DOM.

[2017-04-28 21:31] SomosAMambo opened #53 "_header.haml - the word “new” is on the css."
Hi guys,

How can we move it from CSS so we could localizate it?

[2017-05-01 15:11] weotch commented on #50
What we usually do is create a sub model for the many images we want to associate to a record. For instance, if we have an Article model, we'll create a Photo model that relates as a one to many and use it as a gallery on the article.

[2017-05-01 15:11] #50 closed

[2017-05-01 15:24] noxify commented on #47
I tested it a bit and it seems that it requires more than just changing the config.

I have used rinvex/fort which extends the default auth with some good features.

For me, Decoy seems to be the solution to speed up my development, because it includes everything what i need.

My idea/plan is/was to allow my users to control their posts via the decoy control panel.
In my first prototype i created

[2017-05-01 15:58] weotch commented on #10
Currently, [the tests we're writing](https://github.com/BKWLD/decoy/tree/master/tests/Integration) are Laravel HTTP tests that are organized by the functionality that is under test.  The [/example](https://github.com/BKWLD/decoy/tree/master/example) directory contains a boilerplate Laravel app that consumes Decoy and whom the http tests are run against.  Much of Decoy was written before we became

[2017-05-01 15:58] #10 closed

[2017-05-01 16:00] weotch commented on #53
We'll need to move that into the HAML and out of CSS, yeah.

---

See: https://github.com/BKWLD/decoy/blob/master/assets/sass/header/_title.scss#L72-L75

[2017-05-01 16:02] weotch commented on #49
Eh, it's awkward the way this configuration is handled now.  It's a legacy of before we open-sourced the project and we would compile the js/css as part of the grunt (and later webpack) tooling for the app we were integrating Decoy with.

Gonna close this as it's the same as #27 but I'll make sure this is part of our next release ... I think we'll have that out htis week.

[2017-05-01 16:02] #49 closed

[2017-05-01 16:13] weotch commented on #47
We have done this in the past, replacing the Decoy auth wtih a client's SSO solution.  But it's been awhile and since we only added tests recently, I'm not surprised that's not working as intended.  Originally we used the [Sentry package](https://github.com/cartalyst/sentry) but [replaced it](https://github.com/BKWLD/decoy/commit/95a863135b625c758c65bacc35fe155603381d40) as it grew in a direction

[2017-05-01 16:13] #47 closed

[2017-05-01 16:20] weotch commented on #45
Can you tell me which what version or commit (from composer.lock) you are running?

[2017-05-01 16:27] toddvalentine opened #54 "bug in Quick Start Guide"
I think the getUriAttribute method on Article needs to have a first parameter of 'news' to be able to hit the edit page.

Also, not sure if maybe I did not follow correctly, but after going through the Quick Start and then running a artisan config:cache, I go an error Call to undefined method Closure::__set_state() in /var/www/html/local.decoy.com/bootstrap/cache/config.php on line 354.

I removed

[2017-05-01 16:29] SomosAMambo commented on #45
`dev-master`

[2017-05-01 16:38] weotch commented on #45
And what commit hash? Just wanna make sure I'm working using the same everything.

[2017-05-01 18:17] weotch commented on #54
Huh, good to know.  Tell me, what version of PHP are you running?

[2017-05-02 12:01] SomosAMambo commented on #45
`c7f7125`

Here are the steps that leads to this error:
1. Create a image field with any name and put a default value pointing to an existing file in the `public/img` folder.
[code]
2. Open elements in admin. You will notice (for me happens this way) that the image field hasn't loaded the image.
3. Save it... error.

[2017-05-02 15:30] toddvalentine commented on #54
5.6.30

[2017-05-02 16:36] toddvalentine opened #55 "Visibility toggle not working in list"
It seems like a Model's public attribute, when getting put through the Bkwld\Library\Utils::nullEmpties is nulling false values. So I am getting the following when attempting to set public to false via the list toggle.

Integrity constraint violation: 1048 Column 'public' cannot be null'

The comments from the nullEmpties method seem to suggest numeric 0 is intentionally being excluded. Is the pub

[2017-05-04 20:14] noxify commented on #55
@toddvalentine - how did you solved it?

[2017-05-04 21:12] toddvalentine commented on #55
I didn't. I closed by mistake. It seems like the visibility toggle returns the error when used from the admin actions in the listing. Toggling visibility from the edit view seems to work fine, so I thought it had been resolved. I will re-open.

[2017-05-05 00:40] mindmergedesign opened #56 "Assets on S3"
I am planning to store all my app's assets on S3 and not on the local filesystem. I made my default filesystem S3 in the filesystems.php config file; however, when I upload a file for a post, etc, it is still saved on my local storage folder and not on my designated S3 folder. Am I missing something? or S3 is not supported for assets.

[2017-05-05 15:46] weotch commented on #56
Decoy uses our [Upchuck](https://github.com/BKWLD/upchuck) package to store files.  To store on S3, [publish it's config file](https://github.com/BKWLD/upchuck#installation) and then edit it to use an S3 disk.  The [comments in the config file](https://github.com/BKWLD/upchuck/blob/master/config/config.php) hopefully explain this well enough.

[2017-05-05 15:46] #56 closed

[2017-05-05 15:50] weotch commented on #55
@toddvalentine what database are you using?  We [have tests](https://github.com/BKWLD/decoy/blob/master/tests/Integration/ListingTest.php#L57-L93) so it's working properly in sqlite and in our /example app:

![](http://yo.bkwld.com/3f1t3m2m362k/Screen%20Recording%202017-05-05%20at%2008.50%20AM.gif)

[2017-05-05 21:54] toddvalentine commented on #55
@weotch mysql.

<img width="1243" alt="screen shot 2017-05-05 at 4 52 11 pm" src="https://cloud.githubusercontent.com/assets/367941/25765598/6cc81182-31b3-11e7-85aa-d38e77bd9594.png">

[2017-05-05 22:17] weotch commented on #55
Huh, and Travis is testing against both PHP 5.6 and 7 on this too.  @noxify are you having this issue too?  Trying to figure out how to recreate locally.

[2017-05-05 23:37] noxify commented on #55
Didn't noticed something like this.

But would be good to see the preview from the failed ajax request.

But i will give it a try this evening (saturday to sunday).

Which MySQL Version are you using?
I tested it only with 5.6.

[2017-05-06 13:39] toddvalentine commented on #55
I'm on MariaDB: Server version: 10.0.28-MariaDB-0+deb8u1 (Debian)

![screen shot 2017-05-06 at 8 38 06 am](https://cloud.githubusercontent.com/assets/367941/25772759/62d1aef2-3237-11e7-94b0-8bdd923c2191.png)

[2017-05-07 12:03] noxify commented on #55
### Laravel Environment

- Laravel Version: 5.4.21
 - Timezone: UTC
 - Debug Mode: ✔
 - Storage Dir Writable: ✔
 - Cache Dir Writable: ✔
 - Decomposer Version: ^1.2
 - App Size: 38 MB

 ### Server Environment

 - PHP Version: 7.0.15
 - Server Software: Apache
 - Server OS: Darwin Marcuss-MBP.fritz.box 15.6.0 Darwin Kernel Version 15.6.0: Fri Feb 17 10:21:18 PST 2017; root:xnu-3248.60.11.4.1~1/RELE

[2017-05-07 12:07] noxify commented on #55
Maybe you can modify the migration file from:

[code]

to:

[code]

[2017-05-07 13:07] toddvalentine commented on #55
I will try this and close. Thanks.

[2017-05-07 13:07] #55 closed

[2017-05-09 12:00] toddvalentine opened #57 "Make xhr request to different resource"
I am creating a photo gallery and have a dropzone upload  on the gallery edit page. My dropzone instance is attempting to make  a POST request (/admin/photos) to my Photos controller to create a new Photo resource, but it appears that the Router is redirecting to galleries/{id}/edit. I also tried creating a custom route /admin/galleries/{id}/photos (based on instructions in docs) based on my dropz

[2017-05-09 14:20] SomosAMambo commented on #45
@weotch were you able to reproduce the error?

[2017-05-09 15:48] toddvalentine commented on #57
I had a typo in my csrf token header. Closing. Thanks!

[2017-05-09 15:48] #57 closed

[2017-05-10 10:30] eminos opened #58 "Timestamps on model mandatory?"
I don't have timestamps on this one model/table, and I'm getting this error trying to view the model in admin:

```SQLSTATE[42S22]: Column not found: 1054 Unknown column 'slides.created_at' in 'order clause' (SQL: select * from `slides` order by `slides`.`position` asc, `slides`.`created_at` desc limit 20 offset 0)```

I have this in the model:
[code]

Am I missing something? Are the timestamps ma

[2017-05-10 13:54] eminos opened #59 "Question: Create related model from parent model view?"
I'm still learning Decoy. I love it, but the documentation is really lacking a lot of info/tutorials which makes it really hard to accomplish what I have in mind and also a lot of trial and error.

Anyway, my question is:

I have a model called Service. Each Service can haveMany Boxes (limited to max 3). How would I create those boxes from the Service edit view in admin?

Also (and this is probabl

[2017-05-10 14:13] eminos commented on #59
I guess what I'm asking for is how to make something like the first screenshot on this page:
http://www.bukwild.com/article/introducing-decoy
Where you can add items (Visuals) from the view page of the parent (Project).

[2017-05-10 14:44] eminos commented on #59
Hmm. I think I figured it out! It's just a regular Laravel related model. And then you add it to the sidebar in the view. Seems to work fine!

[2017-05-10 15:01] mindmergedesign commented on #59
@eminos would you mind sharing your Model and view files. I am trying to load related tags to my view but I haven't been able to do it. Thank you

[2017-05-10 15:06] eminos commented on #59
In the model I just created a normal Laravel relationship:

[code]

And in the services/edit.haml.php:

[code]

[2017-05-10 15:26] mindmergedesign commented on #59
I am doing the same bu with a belongsToMany relationship and it is not working.
[code]
I am not sure what I am doing wrong.

[2017-05-10 15:33] eminos commented on #59
Shouldn't it be `hasMany` on the `tags()` method?
I'm pretty new at Laravel as well, so I'm not the best person to try to help you :)
Check the Laravel docs?

[2017-05-10 16:01] weotch commented on #58
No, though that positioned scope does expect them: https://github.com/BKWLD/decoy/blob/master/classes/Models/Base.php#L581-L591.  To fix, in your model, override the `positioned` scope method and just have it use the `position` column.  Make sense?

[2017-05-10 16:03] weotch commented on #58
Actually, I should have that method check whether you are using timestamps or not...

[2017-05-10 16:06] #58 closed

[2017-05-10 17:16] mindmergedesign commented on #59
@eminos I followed a tutorial from Laracasts about adding tags and that's how Jeffrey Way explained it. If Jeffrey Ways says is like that, it must be true :-)

[2017-05-10 17:31] SomosAMambo opened #60 "General error: 1364 Field 'locale_group' doesn't have a default value"
Guys,

I get this with latest dev/master when saving elements. More specifically when saving a new element for the first time.

[2017-05-10 17:37] mindmergedesign commented on #59
@eminos I figured it out. I was passing the Recipe model in the view instead of the Tag model

[code]

[2017-05-11 01:05] mindmergedesign opened #61 "Validation rules are not working"
I get an error when creating new entries in any of my models.

[code]
No field can be left empty/null. I have tried to add validation rules for each field and mark it as nullable as follows:

[code]

Even though I mark some of the fields as nullable, I still get the Integrity constraint violation error. Only the required rule is accepted.

[2017-05-11 09:00] Solinx opened #62 "JPG vs jpg"
Thanks for open sourcing this CMS. We're using it to make our makeshift website at www.duurzameweek.nl manageable by our volunteers.

Yesterday I got a support call about uploading images. Uploading worked fine and the image showed up in the back end, but not on the actual website. Turns out the image had uppercase JPG as extension, and changing that to lowercase solved the issue (file & DB entry)

[2017-05-11 16:19] weotch commented on #60
Remind me what DB you're using?  Maybe we just need to add a default value to the migration...

[2017-05-11 16:31] weotch commented on #59
Sounds like you'e figured it out but, yeah, the _main_ objective of Decoy was being a CMS that worked with Eloquent models.  So you create Eloquent relationships and Decoy provides a number of special fields for interacting with those relations.

If it's a one to many relation, you need to have a `position` column on the child table.  See [this](https://github.com/BKWLD/decoy/blob/master/docs/mode

[2017-05-11 16:31] #59 closed

[2017-05-11 16:36] weotch commented on #61
It sounds to me like your database isn't allowing `null` for the `body` field.  Can you paste your migration here?

[2017-05-11 16:42] weotch commented on #62
Were they being uploaded into a model or into Elements?

[2017-05-11 16:44] Solinx commented on #62
models

[2017-05-11 16:59] weotch commented on #62
I can't recreate an issue with caps.  Maybe it was something else with the image?  Can you send me the image that was causing issues?

[2017-05-11 18:05] mindmergedesign commented on #61
@weotch here is a sample migration:

[code]

[2017-05-11 18:33] SomosAMambo commented on #60
Ok... did it.

[code]

[2017-05-11 19:33] weotch commented on #61
None of those are `->nullable()`.  Try setting the ones that are failing to that.

[2017-05-11 19:50] Solinx commented on #62
It was this image that caused problems: [link](http://duurzameweek.nl/uploads/06/00/Groen_leesvoer.1494429223.jpg)
Only initially instead of having a `.jpg` extension it had `.JPG` as extension.

Uploading the image worked fine with the uppercase extension. It was stored just fine with uppercase extension, both in the filesystem and in the database. And it also displayed fine in the admin panel.

[2017-05-11 19:56] weotch commented on #62
I still can't reproduce it, when I run `$model->img()->url`, I get the URL: `http://decoy.dev/uploads/15/15/Groen_leesvoer.1494429223.JPG` which should be roughly similar to what you are outputting; no issue.  Maybe something on your webserver is the issue.  What is the exact error that is happening?

[2017-05-11 20:02] Solinx commented on #62
Hmmm... Tomorrow in the afternoon I'll be working on the website again. I'll do some tests on the server.

[2017-05-11 20:08] mindmergedesign commented on #61
@weotch Yes, that did the trick. I made the changes in the migration and it works. However, I was under the impression that I could do that also from the rules validation in the model.

[2017-05-11 20:09] #61 closed

[2017-05-12 16:47] eminos opened #63 "Decoy breaks when not running from domain root (but in url path/directory)"
It seems Decoy Admin doesn't work well when the site is running from a "url path". The assets are not loaded since they are pointing to the domain root.

I've just deployed my first Decoy website to a production server running cPanel and I'm using the "temporary url" (since the domain is not yet pointed to the new server) which has the format `http://server.hostname.com/~useraccount/`.

Is there a

[2017-05-12 18:37] weotch commented on #63
Is your `app.url` config set to `http://server.hostname.com/~useraccount/` currently?

[2017-05-12 20:23] eminos commented on #63
It is.

[2017-05-12 22:42] weotch commented on #63
Perhaps we're not wrapping every instance that an asset is referenced in a Laravl `url()` helper so the `app.url` domain gets appended.  That's where I'd look first to fix this.

That said, I don't see us addressing this ourselves immediately as it's not a use case we encounter internally but we'd happily accept a PR with a fix.

[2017-05-13 03:29] SomosAMambo opened #64 "How to check if Element exists?"
I did this as a helper:
[code]
But it doesn't check for another elements files, and I think it's kind weird.

[2017-05-15 16:00] weotch commented on #64
Do you wanna know if a value was set in the admin as opposed to just being defined in yaml?  Or do you wanna check that the yaml key exists too?

[2017-05-15 16:15] eminos commented on #64
I'm having a similar issue where I need to fetch an Element that might not exist. I thought I solved it with this code:
[code]

Works on dev, but on the production server I get this error:

[code]

Any clues? Is there a smarter way to achieve what I'm trying to do?

[2017-05-15 16:21] weotch commented on #64
When you say it may not exist, you mean not even in the yaml file right?  LIke it's not been defined?

In your case @eminos, where you are fine with a default, you should be able to do:

[code]

See: https://github.com/BKWLD/decoy/blob/master/classes/Collections/Elements.php#L80-L112

[2017-05-15 16:36] weotch commented on #64
Huh, ok, I'll dig more into later.

[2017-05-15 16:42] eminos commented on #64
Also, I can not really just use a default value if the Element is not found, since I need to add that string ' | ' if the Element IS found. Is there a better way to achieve that (in one line?), or is try/catch the best way? I guess this is more of a laravel/php question, but I'm sure you have a good solution for it :)

[2017-05-15 16:44] SomosAMambo commented on #64
@eminos Try my code... if the element to check existence is in the default yaml, the code works. @weotch the use case is exactly the one you showed `Decoy::el(Route::currentRouteName() . '.header.heading', '')` but without a default value. Lets say... there is some route without a name that uses the view with this code... or you have a default value for the posts route, but not for post.

[2017-05-15 16:45] SomosAMambo commented on #60
@weotch You may close this. But I think it would be nice to new users to have the default value in the original migration.

[2017-05-15 16:50] eminos commented on #64
@SomosAMambo Honestly I don't really understand your code. And I'm not sure it should be needed for such a simple thing that I'm trying to achieve. It should be a one-liner. Get Element value if it exist (+ concat string), else default (nothing). And it's suposed to be simple (as @weotch showed), but I'm getting a Decoy related error. Might be a bug...

[2017-05-15 16:54] eminos commented on #64
I just realized another thing @weotch, the Element might not exist in the yaml at all, that's why the default value might not work at all... I just get an error (on dev).

`Element key 'home.header.heading' is not declared in elements.yaml.`

[2017-05-16 11:02] toddvalentine commented on #50
@weotch could you be a little more specific in regards to how you set up your controllers and interface for this? Do you have the admin user create a new Photo for each image they want to associate with the Article or do you bulk upload in some way? I have tried to create a gallery that has many images and allow for bulk upload (via Dropzone) on the gallery edit page. Dropzone creates an ajax requ

[2017-05-16 13:14] weotch commented on #50
I would typically have an Articles controller and a Photos controller.  I would use the `form` layout time for the listing element on the Article edit page to make my photos list.  For instance:

[code]

If the Photo edit view only had a single a Image field, that is a lot of clicking around for the admin to upload a bunch of images at once, though.  I have not used Dropzone before, but what I'd p

[2017-05-16 13:28] eminos commented on #50
An awesome thing would be to extend the Former::listing to display a grid layout, instead of the default (and only?) table layout. That would be nice for image galleries. A drag n drop to that grid listing, to be able to upload multiple files would be amazing too. Something like this would be the goal (at least in my head): https://www.modmore.com/moregallery/

Maybe even to extend the build in Im

[2017-05-16 13:35] eminos commented on #61
@mindmergedesign You can do it in the rules validation, but if no fields are nullable() in the DB then all of them need to be required in the validation (not just some fields). Not nullable() + empty field = error.

[2017-05-16 13:57] mindmergedesign commented on #61
@eminos Thank you for the clarification.

[2017-05-16 14:29] toddvalentine commented on #50
@weotch yeah, that is what I have done. I have registered a custom route and placed before registerAll. In my gallery edit page I check if the item (gallery) exists and then show my photos Dropzone interface if it does. Using XDebug, it seems that when I hit my Photos Controller method via ajax, Decoy first hits the Galleries update method in the Base Controller as a POST request, then hits my cus

[2017-05-18 17:24] eminos opened #65 "Disable nl2br() on textbox, for use with json"
Is there a way to disable the nl2br() on textboxes? I'm using a textbox (Element) to manage a json string, and it get's broken by nl2br().

[2017-05-19 15:28] weotch commented on #65
Yeah, if you do `Decoy::el('path.to.element')->value` it will get the raw value for the element.  Those transformations happen when `value()` is called by `__toString()`: https://github.com/BKWLD/decoy/blob/master/classes/Models/Element.php#L120-L144

[2017-05-19 15:28] #65 closed

[2017-05-24 20:35] toddvalentine commented on #47
You could try extending the SessionGuard and setting logic in it's user method? Then setting your app to use your extended SessionGuard class.

[2017-05-31 23:25] #62 closed

[2017-06-13 13:12] SomosAMambo opened #66 "LOCALIZATIONS javascript isn't available on login"
The title says pretty much everything

[2017-06-13 14:04] SomosAMambo commented on #64
@eminos, our code is a helper function to achieve just what you described. Even if the element was not declared. Just onde line of code: `elementExists($key)`

E.g.:
[code]

You can even use string interpolation or concatenation to use a variable in  the key parameter. E.g.:

[code]

All you have to do is declare the elementExists function globally. In my case, I use a helper file where I declare

[2017-06-20 00:53] SomosAMambo commented on #66
Hello, @weotch!?

[2017-06-20 16:48] toddvalentine opened #68 "Validation messages on images.default validation rule"
I have a Photo class with the following validation:
[code]
My Photo class uses HasImages.

Photos are uploaded via a listing field in the Article edit template:
[code]
When I attempt to upload an image that is < min_width 400, I do get a validation error returned, but I don't get any messages back.

<img width="1065" alt="screen shot 2017-06-20 at 11 47 37 am" src="https://user-images.githubuserco

[2017-06-20 18:58] toddvalentine commented on #68
Also, if I add
[code]
and the image fails validation, should my Photo class that uses hasImages still get created? It currently does.

[2017-06-22 19:17] weotch commented on #66
I'll add support for this by the end of the week

[2017-06-22 21:46] #66 closed

[2017-06-22 23:15] weotch commented on #68
It's not you @toddvalentine, it's working as _intentened_ but not the way I want.  I'm working on a fix now.

[2017-06-23 00:00] #68 closed

[2017-06-23 00:01] weotch commented on #68
@toddvalentine Can you give this a try using `dev-master`.  Gonna tag the release pending your response.

[2017-06-29 18:02] toddvalentine commented on #68
@weotch Sorry, just seeing this. pulling in dev-master now and will update shortly.

[2017-06-29 19:41] toddvalentine commented on #68
@weotch the validation is working and returning errors, but I am not seeing any failed validation rules on when I implement onValidating. I will make a new issue for this.

[2017-06-29 19:45] toddvalentine opened #70 "Failed Validation rules not showing on validation object passed to onValidation/Validating"
If a Photo model that extends from the Decoy Base model and uses HasImages fails dimension validation, I would like to prevent the model from being prevented.

I have tried to extend the onValidating and onValidation methods and conditionally check for failed/fails on the Illuminate\Validation\Validator object passed as the argument to these methods, but I am not seeing any failed rules.

Should t

[2017-06-29 20:25] toddvalentine commented on #70
looks like by the time we fail validation model is set to Image, so onValidating on my Photo model is never called.

[2017-07-31 12:03] SomosAMambo opened #72 "Maybe a 24 hours format time and datetime"
Hi Guys,

In our effort to localize Decoy, we sometimes find some caveats achieving this goal. Time format HH:MM (AM||PM) isn't a international standard. It would be lovely if we can use 24 hours format in addition to this.

[2017-07-31 14:55] weotch commented on #72
Does #71 fix this or are there other instances of hard coded date formatting you've noticed that need changing?

[2017-07-31 19:08] SomosAMambo commented on #72
No, it doesn't. This is in the time and datetime field types. As soon as we have the time to tackle this ourselves, we'll send a new PR.

[2017-08-04 06:14] aulrich opened #73 "Bug in "Pivot-Position-Sorting" with Laravel 5.4"
Hello!

I tried to add sorting of a ManyToMany Relationship (like http://docs.decoy.bukwild.com/models#relationships)

But it throws an error because of `/vendor/bkwld/decoy/classes/Input/Position.php:30` - 'getOtherKey' ... this method was moved onto the Pivot Object in Laravel 5.4.

Did a quick fix by requesting the first child and taking the `otherKey`from its pivot.. `$this->pivot = $relation-

[2017-08-04 15:24] weotch commented on #73
Yeah, Laravel 5.4 is supported (despite this bug 😅).  Do you wanna PR the fix you found?

Looks like we need to add sorting of many to many relationships to the tests...

[2017-08-12 20:02] toddvalentine opened #75 "Wrap Image Field $src in asset"
Can we wrap the $src below from Bkwld's Image field in the asset method so it plays nice with Laravel sub-directory installs? Bkwld\Decoy\Fields\Image::renderEditor
[code]
Tried using the container to override and running into issues with private methods and instances being new'd up instead of being made from the container.

[2017-08-16 09:52] SomosAMambo opened #76 "Model mutators are ignored in edit forms"
When a attribute has a mutator, like a money field which save in db like `123456.78` but when accessed it should show `$ 123,456.78`, for example, but in the edit form, it doesn't pass trough the mutator (e.g.: `getMoneyAttribute` where money is the attribute/field name). And, when saving/creating the model, the mutator/setter (e.g.: `setMoneyAttribute`) is being ignored as well.

[2017-08-16 11:31] SomosAMambo opened #77 "List filtering vs. pagination"
When we filter the list and we are in a nth page, the query string maintains the page number showing (in most cases) no results.

[2017-08-16 15:41] weotch commented on #76
That is by design by I'm open to rethinking it.  Here is where this happens:

https://github.com/BKWLD/decoy/blob/master/classes/Models/Base.php#L121-L143

My thinking when adding this was that mutators are added to the model to affect the rendering of data on the public site but the admin should interact with the raw, true data from the database.

But yeah, I'm open to removing it.  What do you t

[2017-08-16 15:52] SomosAMambo commented on #76
I think removing it completely is to radical and can cause unexpected problem on current projects. Maybe a property/param on model basis to switch off this default behavior?

[2017-08-16 15:57] weotch commented on #76
Yeah, like maybe a param that allows you to whitelist some params for either get or set.  That sounds good.

[2017-08-16 16:12] weotch commented on #75
Yeah I could, I'm surprised this would be enough of a fix, though.  Are you not using the Croppa helpers on your public site?  How is your Laravel configured so that `asset()` fixes it for you?  Or does it just happen automatically with no configuration?

Just trying to find the most comprehensive fix possible with these questions.

Relates a bit to #63

[2017-08-16 16:13] SomosAMambo commented on #76
Like this:
[code]

[2017-08-16 20:10] toddvalentine commented on #75
I am using a couple different strategies to tackle the sub-directory issue.

I have created a Service Provider:
[code]
The asset wrap would cover the instance where the image is not showing in the admin

[2017-08-18 19:27] toddvalentine commented on #75
To get correct routes to destroy, I have also had to customize the shared footer haml files to use
[code]
to

[code]

[2017-08-23 16:34] toddvalentine opened #78 "Commands controller title"
bklwd/decoy/lang/en/commands.php

controller.title is currently set to Admins. Should it be Commands?

[2017-08-23 18:17] toddvalentine commented on #75
Also noticing that the Commands admin page overrides the Bkwld\Decoy\Controllers::index method, so overrideViews is not being called. I am unable to edit the sidebar__nav template to fix the paths on the Commands page.

[2017-08-23 19:39] #78 closed

[2017-08-23 19:39] weotch commented on #78
Thanks!

[2017-08-28 23:40] SomosAMambo opened #80 "Masks in former fields"
Hi guys,

have you ever needed to use masks in admin fields?

[2017-08-28 23:57] weotch commented on #80
What do you mean by masks?

[2017-08-28 23:59] SomosAMambo commented on #80
Something like this: http://digitalbush.com/projects/masked-input-plugin/
Or this: https://igorescobar.github.io/jQuery-Mask-Plugin/

[2017-08-29 16:03] #64 closed

[2017-08-30 10:50] #76 closed

[2017-09-22 03:22] eminos opened #81 "Store Model data as json?"
Is there a way to store data for a model as nested json, in one db column?

[code]

I have a bunch of fields for a model, but not really many enough to qualify for a related model.

[2017-09-22 23:19] eminos commented on #81
I think I figured it out.

[code]

And then on the model:

[code]

Seems to work fine.

[2017-09-26 08:38] berbagimadani opened #82 "custome search"
how custome search filter ?

how get data in eloquent model, not static array
'options' => 'App\JobDescription::$categories',

[2017-10-02 19:30] toddvalentine opened #83 "GrahamCampbell\Manager\ManagerInterface::getConnectionConfig($name) error"
Have begun seeing the following error:

Declaration of Bkwld\Upchuck\Manager::getConnectionConfig(string $name = NULL) must be compatible with GrahamCampbell\Manager\ManagerInterface::getConnectionConfig($name)

[2017-10-17 15:36] weotch commented on #83
This is fixed by https://github.com/BKWLD/upchuck/commit/4cbe4cb752672f681deb8116a503d11257f6be1b and tagged in Uphuck 2.2.1.  Can you update your Upchuck dependency to this and see if it fixes it?

[2017-10-17 15:36] #83 closed

[2017-10-30 21:04] weotch opened #84 "Increment visual version numbers in sidebar with recently releases"
Like up to 5.9.0

[2017-11-03 22:01] weotch opened #85 "Vertical align the table actions"
Like add:

[code]

[2017-11-04 13:55] notflip opened #86 "Translations for fields"
Is there a plugin that you can recommend? Or that is compatible with decoy to add multiple input fields for each language. with for example

- articles
- article_translations

Thank you!

[2017-11-04 14:57] #86 closed

[2017-11-04 15:33] notflip opened #87 "Elements key is not declared in elements.yaml"
I opened the default elements.yaml, changed some keys, I updated the code in my views to reflect those new keys, but I still get the following error

    Element key 'home.hero.toptitle' is not declared in elements.yaml. (View: /Users/notflip/Code/ath/website/resources/views/home.blade.php)

Thank you!

[2017-11-06 19:13] #84 closed

[2017-11-06 19:21] #85 closed

[2017-11-06 19:22] weotch commented on #87
Can you post your elements.yaml here?

[2017-11-06 19:25] weotch commented on #82
Check out the `search()` function you can define in your controller, as described here: https://github.com/BKWLD/decoy/blob/master/docs/controllers.md#search-property.  You can fetch your eloquent models, map to a key-val hash, and provide it as the `options` value.

[2017-11-06 19:25] #82 closed

[2017-11-06 21:08] weotch opened #88 "Add CSV export support"
- [x] Test export with overrode scope and serialization
- [x] Test failure when search turned off

[2017-11-07 00:52] #88 closed

[2017-11-15 17:05] weotch opened #89 "Searching for date and changing search field duplicates the date"
![](http://yo.bkwld.com/0Q0D3H3V2v2C/Screen%20Recording%202017-11-15%20at%2009.05%20AM.gif)

[2017-11-15 18:00] #89 closed

[2017-11-30 19:31] weotch opened #90 "Don't write changes when admin remember_token changes"

[2017-11-30 20:05] #90 closed

[2017-11-30 20:05] weotch commented on #90
See d1524bf31e443ae4156c5fc08fc4837ae01d0a27

[2017-12-03 13:45] eminos opened #91 "Upload svg in image field, "width cannot be null""
When uploading an svg file into an image type field it gives the SQL error "width cannot be null".

[2017-12-03 13:46] eminos opened #92 "Changing element field type after it has been saved to DB"
It doesn't work to change the element field type after some content data has been saved to the database. Field type is loaded from the DB instead of the changed elements.yaml.

[2017-12-04 15:42] weotch commented on #91
Here is where the width is measured: https://github.com/BKWLD/decoy/blob/master/classes/Models/Image.php#L193

I could do something like:

https://stackoverflow.com/a/14105726/59160

Or maybe allow width / height to be null ... I don't think Decoy ever _does_ anything with those values, so I think they _could_ be null.

[2017-12-04 15:45] eminos commented on #91
I have made width and height columns in the DB table nullable. That kinda solved the problem, and now svg files are uploadable in an image field. But then I've noticed two other bugs:
- The image is not shown/previewed in the field in Decoy.
- Some error in the console.

I think Decoy is trying to make a thumbnail of the uploaded image, which fails with svg files.

[2017-12-14 19:12] Ceepster14 opened #93 "Admin login not working on fresh install"
I've installed Laravel 5.5.25 on a Windows system running Xampp with PHP version 7.0.13 and followed the installation and quick start guides without seeing any errors.

I've made an admin user via the php artisan decoy:admin command and I can see the user setup correctly in the admins table.

However when I try to login via the /admin/login route I get a "These credentials do not match our records

[2017-12-14 20:55] weotch commented on #93
Huh! Do you see a row in the admins table (in mysql) for the admin you created?

[2017-12-15 04:38] georgejkollias opened #94 "wysiwyg editor trying to customise"
Hi,

how can you just simply add a blockquote to the wysiwyg editor

cheers
George

[2017-12-15 09:27] Ceepster14 commented on #93
Yes, the columns that are populated are:
id, first_name, last_name, email, password, role (admin), active (1), created_at, updated_at

Columns not populated are:
image, permissions, remember_token

[2018-01-21 19:30] tynoesj commented on #94
Also, any chance of bringing back the page?

http://docs.decoy.bukwild.com/wysiwyg seems to be offline.

[2018-01-22 03:50] jacobrossdev commented on #83
I updated from 2.4.1 to 2.5.0 after seeing this thread and I am still having this issue with registering new users.

[2018-01-22 15:25] weotch commented on #83
Very weird.  Can you check your composer.lock file and see what version of `graham-campbell/manager` you've installed?

[2018-01-22 15:29] weotch commented on #94
The docs on the wysiwyg were moved into http://docs.decoy.bukwild.com/customize.

@georgejkollias by adding `formatting: ['p', 'h2', 'h3', 'blockquote']` like you can see on that page, you can add a `blockquote`.

[2018-01-22 15:29] #94 closed

[2018-01-22 19:29] jacobrossdev commented on #83
I have version 2.5 installed.

[2018-01-22 19:30] weotch commented on #83
I think that's the problem then ... Upchuck is expecting you to be on 3.0 of `graham-campbell/manager` ... I should update it's version constraints accordingly.

Can you update to 3.0?

[2018-01-22 19:34] jacobrossdev commented on #83
Does `composer require graham-campbell/manager` not do the trick?

[2018-01-22 19:59] jacobrossdev commented on #83
I tried `composer require graham-campbell/manager` and I tried changing the version in composer.json along with `composer update` and I am not getting a more up-to-date version. Do I need to manually download?

[2018-01-22 20:01] toddvalentine commented on #83
been awhile since I created this, but I think I recall a dependency requiring php7 and I was on 5.6?

[2018-01-22 22:52] jacobrossdev commented on #83
I updated to PHP7 and before graham-campbell/manager was able to update to 3.0, it seems that there are some other dependencies that are not compatible. Here's the response I got from my terminal

`  Problem 1
    - graham-campbell/flysystem v3.7.0 requires graham-campbell/manager ^2.3 -> satisfiable by graham-campbell/manager[v2.3.0, v2.3.1, v2.4.0, v2.5.0] but these conflict with your requiremen

[2018-01-23 14:37] tynoesj opened #96 "Can't set Decoy locale()"
Having some issues while trying to change the `Decoy::locale()` (in combination with [https://github.com/mcamara/laravel-localization](url)).

Changing my `App::locale()` works fine, yet my Decoy locale stays at the default one (first key in `$locales[]`).

I've tried the code as presented in your docs:
`Route::get('locale/{locale}', ['as' => 'change locale', function($locale) {
	Decoy::locale($lo

[2018-01-24 14:08] tynoesj commented on #96
Was my mistake. I was calling for Decoy::locale() in AppServiceProvider, I guess this has something to do with Sessions not being loaded yet.

When calling decoy::locale elsewhere it changes together with the app locale as it should!

[2018-01-24 14:08] #96 closed

[2018-02-09 03:58] kevin-openc opened #97 "Cannot Install decoy to fresh Laravel"
I find this tool really fit my needs and would like to try. However, I got error after running

`composer require bkwld/decoy`

    - Conclusion: don't install bkwld/decoy 5.9.1
    - Conclusion: remove symfony/routing v3.4.4
    - Conclusion: don't install symfony/routing v3.4.4
    - symfony/yaml v2.5.0 conflicts with symfony/routing[v3.4.4].
    - symfony/yaml v2.5.1 conflicts with symfony/rout

[2018-02-27 04:23] georgejkollias commented on #94
Still cant figure out how to customise this wysiwyg editor.

what is the actual file that you update?

http://docs.decoy.bukwild.com/customize

says you have to edit the Redactor config.

My question is where to you edit it so you can add

formatting: ['p', 'h2', 'h3', 'blockquote']

i have tried to add my own JS file but the editor no longer functions.

regards
George

[2018-02-28 00:01] georgejkollias opened #98 "Images + Files WYSIWYG editor"
Hi

With the editor, by default why don't the image and file tab appear?

buttons:["bold","italic","link","image","file","horizontalrule","orderedlist","unorderedlist","html"]

is there something you have to configure for the ability to be able to upload images or files in the editor?

[2018-03-01 14:11] josephbuarao opened #99 "Do you need Filipino Translation for BKWLD?"
Hi there,

Good day and how are you? I hope this message finds you well.

I am Joseph Buarao , who has been doing high quality Filipino and Tagalog translations for several projects.

Consider this message as my letter of application. I am a web developer by profession and an experienced Filipino translator - these are on top of being an experienced web developer with more than 6 years of experien

[2018-03-08 16:41] illuminate3 commented on #97
I am still in the middle of installing this but I did have a similar error with L5.6 so I down-graded to L5.5 and it worked. I would suggest moving up from L5.4 since L5.5 is a long term release.

[2018-03-15 09:51] tynoesj opened #100 "Changing date format throughout Decoy"
Where can we change the date format (now American m/d/y) globally?

If not yet implemented, what's the best way to do this? Should be d/m/y everywhere for almost all my applications.

[2018-03-19 15:57] weotch commented on #100
You can through the locale.  See the work done for Brazilian Portuguese here: https://github.com/BKWLD/decoy/blob/master/lang/pt_BR/base.php#L5-L7.  I'd welcome you PRing your locale as well.

[2018-03-19 15:57] #100 closed

[2018-05-14 00:42] sicaboy commented on #97
Similar situation, not be able to install on Laravel 5.6

[2018-06-01 18:39] weotch opened #101 "Support Laravel 5.6"
Working on this in 5.11.x banch.

- [x] Update version constraints
- [x] Update example app to L5.6
- [x] Fix issues from tests
  - [x] `Tests\Integration\ChangesTest::testPreview`
    - I've started looking into this, something is up with the restoring of trashed tags.  And it's a complicated class that is overriding default Laravel stuff so it's gonna get weird I think.
    - I theorize that the

[2018-06-01 18:41] weotch commented on #97
Gonna close this in favor of #101

[2018-06-01 18:41] #97 closed

[2018-06-01 18:48] #60 closed

[2018-06-25 15:20] weotch commented on #101
Lemme check with my team, but I think I can today or tomorrow.  👍

[2018-07-13 18:03] weotch commented on #101
Ok, I just tagged this as 5.11.0!

[2018-07-13 18:03] #101 closed

[2018-11-10 09:36] hitmc opened #102 "Decoy Admin area not showing properly"
Hi,

I am new to decoy. I have installed it in a new laravel application for testing purpose. After following Installation and quick start guide. I have managed to create admin and article module. But when I visit the admin page in localhost. I am getting a minimal view. I tried latest firefox and chrome. Same view in both. Do i need to install anything or do anything to work as you mentioned in t

[2018-11-10 09:38] hitmc commented on #102
I have seen a new update 5.11 in repository. How to update from 5.10 (that's what I got when I used composer to install) to 5.11, which might resolve my issue. Hope someone will help me.

Jinu

[2018-11-27 06:39] codivist opened #103 "Enabling Roles causes error exception"
I've installed the latest version and followed the quick start tutorial. Everything has been working great.

I enabled the roles/permissions by uncommenting the sections out. However when I do I get the following error:
[code]
The error only shows when there is one or more items in the roles array in the site.php config file.

[2018-12-14 03:44] codivist commented on #103
Shamless Bump...

I hope Decoy isn't fading away!

[2018-12-15 06:37] codivist commented on #98
You can customize the wysiwyg options following the instructions here: http://docs.decoy.bukwild.com/customize

[2018-12-17 16:50] #98 closed

[2018-12-18 10:10] tynoesj commented on #103
Same..., was just looking through commits and saw that they haven't been active lately. Have several projects running on them would be sad!

[2018-12-28 19:46] codivist commented on #103
It might be... 😿
I reached out to @weotch over Linked In a while back and haven't heard anything back on direction of this project. I was just about to publish a personal project with this too.

I did fork this and I'm going to see if I can fix my issue here and try for a pull request. If not I might just maintain my own and let others use it.

[2018-12-29 12:42] tynoesj commented on #103
Tried to tweet to the agency about Decoy's future but didn't get a response 😢

Keep us up to date if you're planning to do your own thing with this!

[2019-01-02 21:31] codivist commented on #103
Will do!

[2019-02-22 18:52] codivist commented on #103
😢 Looks like the docs have been pulled form the company's website. I have this repo forked. Just finishing up another project before I can put more time on this

[2019-04-25 07:02] imansugirman opened #105 "Call to undefined method Illuminate\Events\Dispatcher::fire()"
Error in access /admin

![Jepretan Layar 2019-04-25 pukul 13 59 05](https://user-images.githubusercontent.com/38036171/56715743-b86b3380-6762-11e9-8462-4dba5e3bd804.png)

[2019-06-25 07:16] hernan19182 commented on #105
Solucion para laravel 5.8

cambiar en el archivo vendor/watson/validating/src/validatingObserver.php

protected function fireValidatedEvent(Model $model, $status)
    {
        Event::fire("eloquent.validated: ".get_class($model), [$model, $status]);
    }

remplazan

protected function fireValidatedEvent(Model $model, $status)
    {
        Event::dispatch("eloquent.validated: ".get_class($model)